body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainContainer{
    padding: 1%;
    width: 40%;
    height: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #f0efef;
    border-radius: 1vw;
    box-shadow: 1vw 1vw 2vw hsla(0, 0%, 0%, 0.475);
}
#mainContainer h1{
    color: hsla(240, 100%, 50%, 0.606);
}
#formDiv{
    background-color: #e0e0e0;
    width: 50%;
}
#mainContainer form{
    text-align: left;
}